*{
    margin: 0px;
    padding: 0px;
}
.header{
    height: 100vh;
    width: 100%;
    border: 1px solid black;
    position: relative;
}
img{
    height: 100vh;
    width: 100%;
    object-fit: cover;
}
.mom{
    position: absolute;
    color: white;
    bottom:90%;
    right:90%;
}
.son{
    position: absolute;
    color: white;
    top: 30%;
    left: 29%;
    font-size: 80px;
}
.child{
    position: absolute;
    bottom:90% ;
    left: 80%;
    transition: .5s;
}
a{
    color: white;
    padding: 10px;
    text-decoration: none;    
}
a:hover{
    background-color: white;color: black;
    border-radius: 50%;
}
.parent{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2,50%);
}
.head1{
  padding-top: 200px;
  padding-left: 280px;
  padding-right: 300px;
}
p{
    margin: 1%;
    padding-top: 18px;
    padding-left: 272px;
    padding-right: 200px;
    }
    button{
        border: none;
        background-color: white;
        color: red;
        margin: 10px;
        padding-top: 30px;
        padding-left: 270px;
        font-size: 20px;
        text-decoration: underline yellow;
        font-style: italic;
    }
    .head2{
        padding-left: 290px;
        padding-top:200px ;
        padding-right: 200px;
    }
   .son5{
    position: relative;
   }
   .head3{
    position: absolute;
    top: 580px;
    left: 35%;
   }
   .p1{
    position: absolute;
     top: 620px;
   }
   .son6{
    position: relative;
   }
   .head4{
    position: absolute;
    top: 60%;
    left: 39%;
   }
   .p2{
    position:absolute;
    top: 65%;
    left: 5%;
    padding-left:28%;
    padding-right: 18%;
   }
   .top{
    color: gray;
    text-align: center;
    padding-top: 4%;
   }
   .sarath{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
   }
   .card{
    width: 350px;
    height: 500px;
    margin: 4%;
    border: 1px ;
    position: relative;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    
    
   }
   .photo{
    width: 100%;
    height:50%;
    padding: 30px 0px 0px 68px;
    

   }
   .pic{
    width: 200px;
    height: 200px;
    margin: 1%;
    border-radius:100%;
    object-fit: cover;

   }
   .content{
    position: absolute;
    left: -264px;
    top: 250px;
    
   }
   p{
    width: 55%;
   }
   .head5{
    position: absolute;
    bottom: 10%;
    left: 17%;

   }
   h4{
    position: absolute;
    top: 93%;
    left: 22%;
   }
   .head6{
    position: absolute;
    left: 30%;
    top: 84%;
 
   }
   .head7{
    top: 94%;
    left: 30%;
   }
  .head8{
    position: absolute;
    left: 20%;
    top: 84%;
  }
  .head9{
    top: 93%;    

  }
  .jerike{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4,25%);
  }
  .messi{
    font-size: 90px;
    background-color: grey;color: white;
    text-align: center;
    padding-left: 40px;
    padding-bottom: 30px;


  }
  .abel{
    background-color: gray;
    color: black;
    padding-left: 42%;
    padding-top: 15px;
    padding-bottom: 10px;
  }
 